
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}


/********** NAVBAR **********/
#header-bar {
    width: 100%;
    padding: 15px 0px;
    background-color: #003c8f;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;
}
.header-left{
    position: absolute;
    float:left;
    left:0;
    top:0;
}
.header-right{
    position: absolute;
    float:right;
    right:0;
    top:0;
}

#navbar {
    width:100%;
    background:#003c8f;
    text-align: center;
}
#navbar ul li{
    list-style-type:none;
    color:#fff !important;
    text-decoration: none;
    padding: 18px 12px;
    transition: background 0.2s ease;
    display: inline-block;
}
#navbar ul li:hover {
    background:#1a237e;
}
#navbar ul {
    overflow: hidden;
    -webkit-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition:max-height 0.4s;
    transition: max-height 0.4s;
}
#profile-menu{max-height: 0; float:right;}

.navbar-button{
	background-color:transparent;
	border-color:transparent;
	width:100%;
	height:100%;
	color:#fff;
	font-size:16px;
	font-family:arial,sans-serif;
}

.moreProd a{
	padding: 8px 10px;
	background:#5e92f3;
	color:#fff;
}
.moreProd a:hover{
	background:#003c8f;
}

.showMenu {
    max-height: 25em !important;
}

.showBox{display: block !important;}

.responsive-content{
    float:left;
    display:none;
    height:57px;
}
.responsive-content .hamburger {
    padding: 13px 5px;
    cursor:pointer;
    margin-left:5px;
}
.navbar-icon{
    padding: 13px 13px;
    cursor:pointer;
}
.left-icon {
    padding-top: 17px;
    float:left;
    font-size: 30px;
    color:white;
}

.right-icon {
    padding: 10px;
    float: right;
    font-size: 27px;
    color:white;
}

#search-box{
    padding: 8px 8px;
    display: none;
}

#search-box input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left:10px;
}
#navbar-search {
    display: block;
}

/****** HAMBURGER *****/
.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger-change-icon .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger-change-icon .bar2 {opacity: 0;}

.hamburger-change-icon .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/***************************/

.label-success{
    background:#00c851!important;
    padding: 2px 7px;
    border-radius: 30px;
    color:#fff;
    font-size:14px;
}
.label-warning{
    background:#fb3!important;
    padding: 2px 7px;
    border-radius: 30px;
    color:#fff;
    font-size:14px;
}
.label-alert{
    background:rgb(255, 0, 0)!important;
    padding: 2px 7px;
    border-radius: 30px;
    color:#fff;
    font-size:14px;
}




.footer {
    width:100%;
    min-height:300px;
    background-color: #eceff1;
    position: absolute;
    z-index: -999;
    margin-top:-40px !important;
    padding-top:90px !important;
}
.footer div{
    display: inline-table;
    margin-right:-4px;
    padding:0px 40px;
    box-sizing: border-box;
}
.sitemap{
    margin:20px 15px;
}
.sitemap li {
    margin: 10px;
    border:0 !important;
    padding:0 !important;
}
.about-us{
    margin:10px 20px;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
}
.follow-us{
    margin-top:25px;
    padding: 0 !important;
}
.follow-icon{
    font-size:25px;
    color:rgb(150, 150, 150);
    cursor: pointer;
    margin: 0px 0px 20px; 
}
.follow-icon:hover{
    color:#1a237e;
}

a {
    text-decoration: none;
    cursor: pointer;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(223, 223, 223);
    margin: 1em 0;
    padding: 0; 
}
.col-1 {width:8.333%;}
.col-2 {width:16.666%;}
.col-3 {width:25%;}
.col-4 {width:33.333%;}
.col-5 {width:41.666%;}
.col-6 {width:50%;}
.col-7 {width:58.333%;}
.col-8 {width:66.666%;}
.col-9 {width:75%;}
.col-10 {width:83.333%;}
.col-11 {width:91.666%;}
.col-12 {width:100%;}


/*****************************/
.f-left{float:left}
.f-right{float:right}

.ta-left{text-align:left;}
.ta-right{text-align:right;}
.ta-center{text-align:center;}

.bg-blue{background:blue;}
.bg-red{background:red;}
.bg-yellow{background:yellow;}
.bg-green{background: green;}
/*******************************/

.bg-primary{background:#003c8f !important;color:white !important;}
.bg-light{background:rgb(241, 241, 241) !important; color:#003c8f !important;}

.primary-btn {
    height: 55px;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    background: #002171;
    text-align: center;
    font-size: 21px;
    width: 220px;
    cursor: pointer;
}
.primary-btn:hover{
    background:#002783;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s;
}
.full-btn{
    width:100%;
    height:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid rgb(233, 233, 233);
    cursor:pointer;
}
.full-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(197, 197, 197, 0.3);
    transition: 0.2s;
}
.small-btn {
    height: 55px;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    background: #002171;
    text-align: center;
    font-size: 21px;
    width: auto;
    cursor: pointer;
    padding:0px 15px;
}
.small-btn:hover{
    background:#002783;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s;
}
#errore{
	display: none;
	width: 50%;
	height: 50px;
	margin: 10px auto 20px;
	border: 1px solid red;
	border-radius: 18px;
	vertical-align: middle;
	padding: 15px;
	box-sizing: border-box;
	color: red;
	font-size: 17px;
	font-family: arial,sans-serif;
	text-align: center;
}
.auth-container{
    background:url('../img/bg-auth.jpg');
    background-size: cover;
}
.auth-box{
    margin: auto;
    width: 300px;
    min-height: 400px;
    background: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 5%;
}
.auth-box h3 {
    margin: 20px 0px;
}
.auth-box input{
    margin: 10px 0;
}
.auth-box label {
    color: #002171;
    font-size:19px;
    font-family: Arial, Helvetica, sans-serif;
}

.control-form {
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px 20px 40px;
}
.control-form input, .control-form textarea{
    width:100%;
    height: 30px;
    margin-top:30px;
    font-size: 17px;
}

.large-form {
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px 20px 40px;
}
.large-form input {
    width:100%;
    height: 40px;
    margin-top:10px;
    font-size: 20px;
    padding-left:8px;
}
.large-form td {padding:20px 20px 20px;}


.qty-spinner{
    font-size: 20px;
    height: 30px;
    border: 0;
    text-align: center;
    width:64px;
}

#container {
    width:1200px;
    margin:auto;
    margin-top:-80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
}
#bodycover{
    padding: 35px 0px;
    background: #5e92f3;
    height: 100px;
}
#bodycover > h2 {
    text-align:center;
    color:#fff;
    font-family: arial, sans-serif;
    font-size:27px;
}
#cover-home{
    padding: 35px 0px;
    background: rgba(94,146,243,0.06);
    background-image:url('../img/SliderParfum1.png');
    height:499px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

/************  SHOP PAGE ************/
.nb-cat-filter{
    height: 50px;
    background-color:rgb(240, 240, 240);
    border-bottom: solid 1px darkgrey;
	font-size:21px;
	font-family:arial, sans-serif;
	padding: 14px;
	box-sizing: border-box;
}
#catalog{
    background-color:white;
}

.product-card {
    height:auto;
    display: inline-block;
    margin-top: 5px;
    margin-right: -4px;
    padding-top:15px;
    padding-bottom: 15px;
    vertical-align: middle;
}
.product-card:hover {
    background-color:rgb(248, 248, 248);
}
.pc-img {
    margin:auto;
}
.pc-title button {
    font-family: Arial, Helvetica, sans-serif;
    font-size:19px;
    font-weight: bold;
    text-align: center;
    margin-top:14px;
}
.pc-price {
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: 300;
    text-align:center;
    margin-top:10px;
}
.pc-desc {
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin:auto;
    margin-top:15px;
}
/************************************/

/************  CART ************/
#cart-section {
    min-height:500px;
    padding: 5px 15px;
    box-sizing: border-box;
}

.table-cart th {
    padding:10px 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#000;
    font-weight: 600;
}
.table-cart td {
    padding:15px 10px;
    box-sizing: border-box;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#000;
}
.table-cart .row-item:hover {background-color: rgb(248, 248, 248);}

.img-thumb{
    margin:auto;
}
.cart-value{
    color:#000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px 50px;
}
/*******************************/


/************  PROD PAGE ************/
.prod-details {
    min-height: 400px;
    padding: 30 0px;
}
.prod-details > div {
    float:left;
    height:400px;
    position: relative;
}
.info-prod{
    box-sizing: border-box;
}
.primary-img {
    margin:auto;
}
.primary-img img{
    max-height: 400px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
}
.info-prod{
    padding:20px;
    padding-top:30px;
}
.cat-prod{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
}
.cat-prod > span {
    background: #000;
    padding:3px 7px;
}
.title-prod{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600;   
    color:rgb(36, 36, 36);
    margin-top:15px;
}
.description-prod{
    margin-top: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.price-prod{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #002171;
    margin: 35px 0px 50px;
    font-weight: bold;
}
.qty-prodpage{
    background:rgb(245, 245, 245);
    width:70px;
    height:55px;
    color:#000;
    font-size: 35px;
    float:left;
    border-radius: 6px;
}
.addtocart-btn{
    margin-left:20px;
}



/*** FEEDBACK ***/
.container-feedback {
    padding: 60px;
    height: auto;
    background: rgb(245, 245, 245);
    margin: auto;
    box-sizing: border-box;
}
.title-box{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    color:#000051;
}
.row-review{
    margin: 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.row-review > h1 {
    font-size:19px;
    font-weight: 200;
    color:#000;
}
.author-review{
    font-weight: 600;
    font-size:24px;
}
.star-review{
    color:rgb(255, 217, 0);
    font-size:24px;
}
.desc-review{
    font-size:14px;
    margin-top:15px;
    font-style: italic;
    color:rgb(34, 34, 34);
}
#txtarea-fbck{
    width:100%;
    height: 150px;
    margin:25px 0px;
    resize:none;
}
/************************************/



/********** HOMEPAGE **********/
.sub-container {
    padding:20px 40px;
    display: inline-block;
    box-sizing: border-box;
}
.box-link-cat {
    height:200px;
    width:25%;
    float:left;
}
/******************************/

/********** PAGE PROFILE **********/
.page-profile{
    padding:20px;
    display: block;
    box-sizing: border-box;
}
.page-profile div {
    display: inline-table;
    margin-top:20px;
    margin-bottom:20px;
    box-sizing: border-box;
}

.square-box {
    height:170px;
    margin-right:-4px;
    padding:33px 5px !important;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-box h3{
    margin-bottom:15px;
}

.table-tickets, .table-order{
    margin:10px 0px 30px;
}

.table-tickets th, .table-order th{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
}

.table-tickets td, .table-order td{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}
/**********************************/

/********** PAGE PROFILE **********/
.order-details{
    margin:auto;
    padding: 50px 20px;
}

/**********************************/

/********* TICKET **********/
.messages-ticket{
    padding:20px;
}
.ticket-msg{
    padding:10px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin: 15px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.ticket-form td{
    padding: 0 20px;
}
.ticket-form input {
    width:40%;
}
.ticket-form textarea {
    width: 100%;
    min-height: 250px;
    resize: vertical;
    margin-bottom: 30px;
}
/**************************/

@media screen and (max-width:1240px){
    .no-mobile{
        display: none;
    }
    #container {
        width:100%;
    }
    .nav > li > a {
        font-size:14px;
    }
}


@media screen and (max-width:960px){
    .cover-home{
        height:63%;
    }
    #catalog{
        float:none;
        width:100%;
    }
    
    .nav > li > a > span {
        display: none;
    }

    .primary-img img{
        max-height:350px;
        width: 100%;
    }
    #cover-home{
        height: 433px;
    }
    .box-link-cat {
        width:50%;
    }
    .profile-box {
        width:50% !important;
    }
}

@media screen and (max-width:720px){
    /***** NAVBAR *****/
    #navbar ul {
        max-height: 0; 
    }

    #navbar ul li {
        width:100%;
    }
    .responsive-content{
        display:block;
    }

    #profile-menu{max-height: 0; float:none;}
    /******************/
    
    .prod-details div {
        width: 100%;
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }
    .primary-img img{
        width:auto;
    }
    #cover-home{
        height: 350px;
    }
    .product-card {
        width:50% !important;
    }
    .nb-cat-filter{padding:0;}
}

@media screen and (max-width:480px){
    .navbar-logo span {
        display: none;
    }
}