html{
	height:100%;
}
body{
    background:rgb(245,245,245);
    display: flex;
    height:100%;
}

a {
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    height:35px;
}

select{
    height:25px;
}

label {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 19px !important;
}

table{
    width:100%;
}
table th {
    font-weight: bold;
    border: 1px solid black;
    font-size:22px;
    background:rgb(0, 1, 32);
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}
th, td{
    border-bottom: 1px solid #ddd !important;
    text-align: center;
    vertical-align: middle !important;
}
td{padding:15px 0px !important;}
tr:hover {background-color: #eeeeee !important;}

.col-1 {width:8.333% !important;}
.col-2 {width:16.666% !important;}
.col-3 {width:25% !important;}
.col-4 {width:33.333% !important;}
.col-5 {width:41.666% !important;}
.col-6 {width:50% !important;}
.col-7 {width:58.333% !important;}
.col-8 {width:66.666% !important;}
.col-9 {width:75% !important;}
.col-10 {width:83.333% !important;}
.col-11 {width:91.666% !important;}
.col-12 {width:100% !important;}

.ta-left{text-align:left;}
.f-left{float:right;}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    color:rgb(0, 1, 32);
}
.sub-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.yellow{color:rgb(255, 199, 44);}
.green{color:#00c851;}

.bg-light{background:rgb(236, 236, 236);}
.bg-primary{background: rgb(3, 6, 77)}

.label {
    padding: 6px 7px;
    border-radius: 30px;
    color:#fff;
    font-size:14px;
    margin:0 2px;
}
.label button{color:#fff;}
.label-success{background:#00c851!important;}
.label-success:hover{background:#0ee966!important;}
.label-warning{background:#fb3!important;}
.label-warning:hover{background:rgb(252, 198, 92)!important;}
.label-alert{background:rgb(255, 0, 0)!important;}
.label-alert:hover{background:rgb(255, 86, 86)!important;}

.welcome-text{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 1, 32);
    margin:20px 0px;
}

.btn{
    height:45px;
    border-radius:3px;
    border:none;
    text-align: center;
    font-size:19px;
    width:170px;
    cursor:pointer;
}
.btn-primary{background: rgb(0, 1, 32);; color:#fff;}
.btn-primary:hover{background: rgb(3, 6, 77); color:#fff;}
.btn-azure{background: rgb(60, 173, 238); color:#fff;}
.btn-azure:hover{background: rgb(93, 189, 245); color:#fff;}
.btn-light{background: rgb(202, 202, 202); color:#fff;}
.btn-light:hover{background: rgb(168, 168, 168); color:#fff;}

.small-btn{
    width: 45px !important;
    height: 24px !important;
}
/****** HAMBURGER *****/
.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(0, 1, 32);;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger-change-icon .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background:#fff;
}

.hamburger-change-icon .bar2 {opacity: 0;}

.hamburger-change-icon .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background:#fff;
}
/***************************/

nav {
    width:250px;
    background:rgb(0, 1, 32);
}
nav ul li {
    padding:20px 35px 20px 35px;
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    transition: background 0.2s ease;
}
nav ul a li {color:#fff;}
nav ul a li:hover{background: rgb(0, 2, 65);}
nav ul a li i {margin-right: 8px;}

.navbar-btn {
	background-color:transparent;
	border-color:transparent;
	color:white;
}

.showMenu {
    display: block;
}
.responsive-content{
    float:left;
    display:none;
    height:57px;
    z-index: 999;
}
.responsive-content .hamburger {
    padding: 13px 5px;
    cursor:pointer;
    margin-left:5px;
}
.logo{
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    color:#fff;
    width:100%;
    text-align:center;
    padding: 25px 0;
    cursor: default;
}

#container{
    width:100%;
    padding:40px;
    box-sizing: border-box;
}
.flex{display: flex;}

.sub-container{
    padding:20px;
}

.ticket-msg{
    padding: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin: 15px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:960px){
    #container{
        display: block !important;
    }
    .sub-container{
        width: 100% !important;
    }
    .flex{display: block;}
}

@media screen and (max-width:760px){

    #container{margin-top:30px;}

    /***** NAVBAR *****/
    nav{width: 100%; position: absolute; height: auto; display: none !important;}

    #navbar {display:none;}

    .showMenu{display: block !important;}

    #navbar ul li {
        width:100%;
    }
    .responsive-content{
        display:block;
        position: absolute;
    }
    /******************/
}